body {
    background-color: 
}
nav {
    display: flex;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
