body {
    background-color: #b28b9e
}
nav {
    display: flex;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
    margin: 50px;
}
a {
    text-decoration: none;
    color: #28436D;
}
a:hover {
    text-decoration: underline;
}
.full_logo {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
img {
    width: 500px;
    height: 200px;
    border-radius: 15px;
}
h1 {
    font-size: 36px;
}
p {
    font-size: 20px;
}
body {
    padding: 0 150px;
}
.iframe {
    display: flex;
    justify-content: center;
}
