body {
    background-color: #a799b4
}
nav {
    display: flex;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#full_logo {
    display: flex;
    gap: 50px;
    justify-content: center;
}
